{{>layout/header}}

<div class="container">
    <form action="/login" method="post">
        <div class="mb-3 mt-3">
            <input type="text" class="form-control" placeholder="Enter username" name="username" value="ssar">
        </div>
        <div class="mb-3 mt-3">
            <input type="password" class="form-control" placeholder="Enter password" name="password" value="1234">
        </div>
        <button type="submit" class="btn btn-primary">로그인</button>
    </form>
</div>

{{>layout/footer}}
