{{>layout/header}}

<div class="container">

    <h1 class="mt-3">홍길동님 계좌목록</h1>
    <div class="card mt-3">
        <div class="card-body">
            <h4 class="card-title">112-2031-3333-11</h4>
            <p class="card-text">220,000</p>
            <a href="/account/1111" class="card-link">상세보기</a>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h4 class="card-title">112-2031-3333-11</h4>
            <p class="card-text">220,000</p>
            <a href="/account/1111" class="card-link">상세보기</a>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h4 class="card-title">112-2031-3333-11</h4>
            <p class="card-text">220,000</p>
            <a href="/account/1111" class="card-link">상세보기</a>
        </div>
    </div>
</div>

{{>layout/footer}}
