{{>layout/header}}

<!--계좌 생성시에 1000원이 디폴트로 들어간다-->
<div class="container">
    <form action="#">
        <div class="mb-3 mt-3">
            <input type="number" class="form-control" placeholder="Enter number" name="number">
        </div>
        <div class="mb-3 mt-3">
            <input type="password" class="form-control" placeholder="Enter password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">계좌생성</button>
    </form>
</div>

{{>layout/footer}}
